<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Hrvy Apartments</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/apartments">Apartments</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contact Us</h2>
        <p>We'd like to hear about you, contact us at:</p><br>
        <p><strong>Facebook:</strong> <%= facebook %></p>
        <p><strong>Email:</strong> <%= email %></p>
        <p><strong>Phone:</strong> <%= phone %></p>
    </main>
</body>
</html>